<section id='manga-create'>
	<form action="/dashboard/manga-create" method="POST" enctype="multipart/form-data">


		<label for="name">Manga name :</label>
		<input type="text" id="name" name="name" required />

		<label for="category">Category: </label>
		<select name="category" id="category">
			<option value="Gekiga 劇画">Gekiga 劇画</option>
			<option value="Hentai 変態">Hentai 変態</option>
			<option value="Mahō shōjo 魔法少女">Mahō shōjo 魔法少女</option>
			<option value="Mecha メカ">Mecha メカ</option>
			<option value="Nekketsu 熱血">Nekketsu 熱血</option>
			<option value="Yaoi やおい">Yaoi やおい</option>
			<option value="Yuri 百合">Yuri 百合</option>
		</select>

		<label for="episodeNumber">Number of episodes :</label>
		<input type="number" id="episodeNumber" name="episodeNumber" />

		<label for="cover">Cover :</label>
		
		<input type="file" id="cover" name="cover" />

		<label for="description">Description :</label>
		
		<input type="text" id="description" name="description" />

		<button>Add</button>

	</form>
</section>