<h1>{{title}}</h1>

<p>
    An app to discover how to <b>authenticate</b> your users,<br>
    manage <b>authorizations</b> with route protection,<br>
    and display user <b>messages</b> on form submissions.
</p>
