<video id="background-video" autoplay loop muted poster="https://a-static.besthdwallpaper.com/gol-d-roger-vs-barbe-blanche-fond-d-ecran-960x540-68456_43.jpg">
    <source src="videos/Tokyo_Ghoul_v1_bd.mp4" type="video/mp4">
</video>

<h1 id="home-title">WELCOME TO <br>MANGA ADDICT</h1>
<h2 id="home-subtitle">Share your favorite mangas</h2>
