<section class="profile-content-info">
    
    <h1 class='title'>My profile informations</h1>
    {{> flashMessage }}
    <div id="detail-content-info" class="info">
      <p><strong> Name :</strong> {{currentUser.name}}</p>
      <p><strong>Lastname :</strong> {{currentUser.lastname}}</p>
      <p><strong>Email :</strong> {{currentUser.email}}</p>
      <p><strong>Role :</strong> {{currentUser.role}}</p>
    </div>
</section>
