section form {
  display: flex;
  flex-direction: column;
  max-width: 748px;
}

section form.row {
  flex-direction: row;
}

section form input {
  height: 32px;
  margin-bottom: 20px;
  border: 1px solid;
  border-radius: .3rem;
  padding: 5px 0 5px 20px;
}


section form label {
  cursor: pointer;
  margin-bottom: 10px;
}

section form button {
  height: 32px;
  max-width: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
  color: whitesmoke;
  cursor: pointer;
  border: none;
  border-radius: .3rem;
}

section form button:hover {
  background: whitesmoke;
  color: black;
  border: 1px solid;
}
